@{
	ViewData["Title"] = "Note on Flu Mortality";
}

<h3>A Brief Explanation of the Inlfuenza and Pneumonia Mortality Numbers for 2019</h3>
<div class="row">
	<p>
		A note on the number of deaths.  In 2019 StatsCan reported 6,893 deaths due to influenza and pneumonia in the entire country. <br />
		Source: <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1310039401">Statistics Canada. Table 13-10-0394-01  Leading causes of death, total population, by age group</a>
	</p>
	<p>
		Using the data found on in this location (<a href='https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1710000901'>Statistics Canada. Table 17-10-0009-01  Population estimates, quarterly</a>) Canada had an estimated population of 37,802,043 at the end of 2019 and Ontario 14,637,880.
	</p>
	<p>
		That means that Ontario has an estimated 39% of Canada's population.  Using that we can project that Ontario should account for 39% of the influenza and pneumonia deaths for 2019.  39% of 6,893 is 2,688.27.
	</p>
	<p>
		Rounding down, that would result in an estimated 2,688 people dieing of influenza or pneumonia. Ontario recorded it's 2,687th death due to COVID on July 4th, and on the 5th we recorded the 2,689th death, officially exceeding the influenza and pneumonia mortality rates for 2019 a mere 187 days into 2020.
	</p>
</div>