@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>All Data is source from the <a href="https://data.ontario.ca/dataset?keywords_en=COVID-19">Ontario Data Catalogue</a>.</p>

	<p>The Summary data is sourced directly from <a href="https://data.ontario.ca/dataset/status-of-covid-19-cases-in-ontario">Status of COVID-19 cases in Ontario</a></p>
	
	<p>The Province of Ontario population estimate is 14,733,119.  It is sourced from <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1710000901">Statistics Canada. Table 17-10-0009-01  Population estimates, quarterly</a> and Q4 2020 is being used.</p>

</div>
